// ... Font Size ...  
  
  $fs-900: 9.375rem;
  $fs-800: 6.25rem;
  $fs-700: 3.5rem;
  $fs-600: 2rem;
  $fs-500: 1.75rem;
  $fs-400: 1.125rem;
  $fs-300: 1rem;
  $fs-200: 0.875rem;

// .... Font Family ....
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

//...


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}




/* colors */

.bg-dark { background-color: $clr-dark;}
.bg-accent { background-color: $clr-light;}
.bg-white { background-color: $clr-white;}

.text-dark { color: $clr-dark;}
.text-accent { color: $clr-light;}
.text-white { color: $clr-white;}

/* typography */

.ff-serif { font-family: $ff-serif;}
.ff-sans-cond { font-family: $ff-sans-cond;}
.ff-sans-normal { font-family: $ff-sans-normal;}

.letter-spacing-1 { letter-spacing: 4.75px;}
.letter-spacing-2 { letter-spacing: 2.7px;}
.letter-spacing-3 { letter-spacing: 2.35px;}

.numbered-title {
  font-family: $ff-sans-cond;
  font-size: $fs-500;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  
  &span {
  margin-right: .5em;
  font-weight: 700;
  color: $clr-white, .25; 
  }
}

