// ... Font Size ...  
  
  $fs-900: 9.375rem;
  $fs-800: 6.25rem;
  $fs-700: 3.5rem;
  $fs-600: 2rem;
  $fs-500: 1.75rem;
  $fs-400: 1.125rem;
  $fs-300: 1rem;
  $fs-200: 0.875rem;

// .... Font Family ....
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

//

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}